@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,900,900italic);
body {
    width: 720px;
    margin: 1em auto;
    font: 400 10pt/1.5 Merriweather;
    background: #fff;
    color: #666;
}
input {
    border: none;
    border-bottom: 1px solid #ccc;
    font: inherit;
    background: inherit;
    color: inherit;
}
h1 {
    text-align: center;
    font-size: 28pt;
    font-weight: 900;
}
h1, h2 {
    color: #4ac;
}
a:link, a:visited, a:active {
    color: #a84;
}

td {
    padding: .25em;
}
code, pre {
    font: 10pt Courier Prime, Courier New;
    color: #000;
}
aside {
    box-sizing: border-box;
    padding: 1em;
    margin: .5em;
    float: right;
    clear: right;
    width: 230px;
    font-size: 75%;
}
article {
    background: #fff;
}